SECRET_MAIL_USERNAME_FILE="/run/secrets/secret_mail_username"
SECRET_MAIL_PASSWORD_FILE="/run/secrets/secret_mail_password"

* * * * * /usr/bin/python3 /app/test.py >> /var/log/cron.log 2>&1
# An empty line is required at the end of this file for a valid cron file.
