/*Body and Navigation-var Styles*/
.body {
    font-family: 'Quicksand', sans-serif;
    background-color: #f5f5dc; /* Use a very soft brown-white color */
    font-size: 30px;
}
.general-smtitle {
    font-size: 30px;
    font-family: 'Quicksand', sans-serif;
    color: #6d6657;
}
