<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Include a custom fonts from Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Whisper&display=swap" rel="stylesheet">
    <!--Include fontawesome to the icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--Title and Title Icon -->
    <title>Friends Birthdays</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='img/birthday.jpg') }}">
  </head>

  <body>
    <div class="container">
        <div class="row justify-content-center mt-3"> <!--mt-3 = Margin Top 3 Units -->
            <div class="col-auto">
                <img src="{{ url_for('static', filename='img/birthdays_tool.png') }}" class="img-fluid" alt="Centered Image">
            </div>
        </div>
    </div>
    {% for month in friends.keys() %}
    <div class="container-fluid ml-3 mb-5">
        <h1 class="display-4">{{ month.title() }}</h1>
        <div class="container-fluid ml-0 pl-0 mt-4">
        {% for birthday in friends[month] %}
        <div class="container-fluid ml-0 pl-0">
            <p>{{ birthday['birthday'].strftime("%B %d") }}: {{ birthday['name']  }}</p>
        </div>
        {% endfor %}
        </div>
    </div>
    {% endfor %}

  </body>

</html>